/* cards/static/cards/css/main.css */
body {
    background-color: #f3f4f2;
}

.copyright {
    color: #cbc1c1;
    font-family: monospace;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}