{% extends "base.html" %}
{% block content %}
  <!-- Детальное представление карточки cards/templates/cards/include/card_preview.html -->
  <!-- Детальное представление карточки cards/templates/cards/detail_card.html
   расширяет базовый шаблон base.html -->
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        Детальное представление карточки
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ card.question }}</h5>
        <p class="card-text">{{ card.answer }}</p>
        <p class="card-text"><small class="text-muted">Категория: {{ card.category }}</small></p>
        <p class="card-text">
          Теги:
          {% for tag in card.tags.all %}
            <span class="badge bg-secondary">{{ tag.name }}</span>
          {% endfor %}
        </p>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <a href="{% url 'catalog' %}" class="btn btn-dark">Вернуться к каталогу</a>
          <div>
            <i class="bi bi-eye"></i> {{ card.views }}
            <i class="bi bi-star-fill"></i> {{ card.adds }}
            <small class="text-muted">Дата загрузки: {{ card.upload_date }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}