{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Ввод нового пароля" %}</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-dark">{% trans "Изменить пароль" %}</button>
</form>
{% endblock %}