{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Восстановление пароля" %}</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-dark">{% trans "Сбросить пароль" %}</button>
</form>
{% endblock %}