{% extends "users/base_profile.html" %}
{% load static %}

{% comment %} Добавим стили - чтобы фотография была кругом и не более 400 пикселей {% endcomment %}
{% block head %}
<style>
  .profile-img {
    border-radius: 45%;
    max-width: 30%;
    border: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    {% comment %} Выравнивание по центру {% endcomment %}
  }
</style>
{% endblock %}

{% block content_profile %}
{% comment %} ТУТ Форма профиля {% endcomment %} 
<h2>Изменение профиля
  {% comment %} Если пользователь состоит в группе "Модераторы" {% endcomment %}
    {% if user.moderator %}
      <i class="bi bi-vector-pen"></i>
    {% endif %}
  </h2>

<form method="post" action="{% url 'users:link_social_account' %}">
  {% csrf_token %}
  <button type="submit" name="provider" value="github" class="btn btn-dark">Привязать GitHub</button>
  <button type="submit" name="provider" value="vk-oauth2" class="btn btn-dark">Привязать VK</button>
</form>

{% comment %} Выводим фото пользователя в Image fluid BS5 {% endcomment %}
{% if user.photo %}
  <div class="text-center mt-5 mb-3">
    <img class="profile-img" src="{{ user.photo.url }}" class="img-fluid" alt="Тут фото {{ user.username }}">
  </div>
{% endif %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-dark">Сохранить</button>
</form>
{% endblock %}