<!--root/templates/about.html-->
{% extends "base.html" %}
{% comment %}
    Шаблон about - расширяет базовый шаблон base.html
    Рассказывает о проекте интервального повторения
{% endcomment %}
{% block content %}
    <!--Шаблон about-->
    <h1>Проект интервального повторения</h1>
    <p>Проект интервального повторения - это проект,
        который помогает запоминать информацию с помощью интервального повторения.</p>

    <p>Пользователей в проекте: {{users_count}}</p>
    <p>Карточек в проекте: {{cards_count}}</p>
{% endblock %}